.movie_box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.movie_img {
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px rgba(88,88,88,0.5);
}
.movie_title {
    width: 300px;
    text-align: center;
    padding: 50% 0;
    bottom: 0;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    opacity: 0;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.7);
    position: absolute;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-weight: 500;
}
.movie_title:hover {
    opacity: 1;
    animation: pulse 1s infinite;
}
.movie_box span {
    display: block;
    font-size: 14px;
    margin-top: 15px;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0.8px rgba(16, 37, 226, 0.911);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(102, 51, 153, 0);
    }
}

@media all and (max-width: 1024px) {
    .movie_img {
        width: 180px;
    }
    .movie_title {
        width: 180px;
    }
}
@media all and (max-width: 768px) {
    .movie_img {
        width: 130px;
    }
    .movie_title {
        width: 130px;
    }
}